body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: beige;

} 

header {
   background-color: purple;
    color:white;
    padding: 20px;
   text-align: center;

}


h1 {
    color:black;
}

h2 {
    color:rgb(211, 4, 4);

}

section {
    margin-bottom: 20px;
    padding: 40px auto;
    border: 10x solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    max-width: 800px;
    text-align: center;
    margin-left: 150px;

}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}


img {
   max-width: 100%;
   height: auto;
}

button {
    padding:10px 20px;
    background-color:black;
    color: red;
    border: none;
    cursor: pointer;
    margin-left: 77px;

}

button:hover{
    background-color: #f2f2f2;
}
 
